# Compiled files
*.dll
*.exe
*.so
*.pyc
*.db

# Build and IDE directories
/__pycache__/
/.idea/
/.vs/
/build/
/dist/

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
/venv/
/.venv/
/env/
/.env/

# Resource cache
/src/resources/flow.icns
/src/resources/flow.ico


# Added by cargo

/target
