body {
  font-family: "Ubuntu";
  margin: 0;
  background: #0094d3;
}

h1 {
  font-size: 8rem;
  font-weight: bold;
}

.nav-bar {
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  margin: 0 6px;
  color: rgba(0,0,0,.5);
}

.nav-link:hover {
  color: #5d5e61;
  transition: all 0.3s ease;
}

.nav-items {
  padding: 19px;
}

.title {
  color: white;
  text-align: center;
  position: absolute;
  
  left: 50%;
  top: 35%;

  margin-left: -129.095px;
  margin-top: -71.5px;
}

.waves {
  position: absolute;
  width: 100%;
  height: 17%;
  bottom: 0;
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: url("../images/wave.png");
  background-size: 1000px 100%;
}

.wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 4;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 3;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 2;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 1;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0;
  }
}
